h3{
    background-color: antiquewhite;
    font-size: x-large;
    font-style: oblique;
}
h1{
    background-color: antiquewhite;
    font-size: xx-large;
    font-style: oblique;
}
h2{
    background-color: antiquewhite;
    font-size: x-large;
    font-style: oblique;
}